body, html {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  min-height: 0;
  font-size: 14px;
  color:rgba(0,0,0,.87);
  margin:0;
  height: 100%;
}
body {
  margin: 0
}
.login-content {
  background-size:cover;
  background-position:center;
  min-height: 100%;
  min-width: 320px;
  display:flex;
  justify-content:center;
  flex-direction:column
}
.login-content .box {
  width: 448px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
  margin: auto;
}
.login-content .box .box-container {
  width:100%;
  padding-left: 32px;
}
.login-content .box .logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 400px;
}
.login-content .box .application-name {
  width: 270px;
  font-family: Muli;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.83;
  letter-spacing: -0.4px;
  text-align: left;
  color: #1976d2;
  margin-left: 32px;
  margin-top: 40px;
}
.login-content .box .form {
  margin-left: 32px;
  margin-top: 55px;
  margin-bottom: -55px;
}
.login-content .box .login-field {
  width: 320px;
  height: 24px;
  font-family: Muli;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.4px;
  text-align: left;
  color: #000000;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  background-color: #fff;
}
.login-content .box input[type="text"]:focus, .login-content .box input[type="password"]:focus {
  border-bottom: 2px solid #ff9800;
}
.login-content .box input[type="text"]:-webkit-autofill, .login-content .box input[type="password"]:-webkit-autofill
{
  box-shadow: 0 0 0px 1000px white inset;
}
.login-content .box .submit{
  width: 320px;
  height: 36px;
  border-radius: 2px;
  background-color: #ff9800;
  font-family: Muli;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  border-style: none;
  margin-top: 60px;
  margin-bottom: 60px;
  cursor: pointer;
}
.login-content .box .visibility {
  position: relative;
  left: 296px;
  top: 20px;
  width: 24px;
  height: 24px;
  opacity: 0.54;
  border: none;
}
.login-content .box .copyright {
  min-width: 320px;
  text-align: center;
  font-size: 14px;
  opacity: .54;
  position: relative;
  top: 50px;
}
.message-text {
  width: 322px;
  height: 60px;
  opacity: 0.87;
  font-family: Muli;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.3;
  letter-spacing: -0.4px;
  text-align: left;
  color: red;
  border: 0px;
  position: relative;
  top: 210px;
  left: 64px;
  display: inline-flex;
  align-items: center;
}
.identity-providers {
  width: 270px;
  font-family: Muli;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.83;
  letter-spacing: -0.4px;
  text-align: left;
  color: #1976d2;
  margin-left: 32px;
  margin-top: 20px;
}

.login-content .box .social-link-style {
  width: 320px;
  height: 36px;
  border-radius: 2px;
  background-color: var(--white);
  font-family: Muli;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ff9800;
  border-style: solid;
  border-color: #ff9800;
  margin-top: 0px;
  margin-left: 30px;
  margin-bottom: 10px;
  cursor: pointer;
}

.login-content .box .para {
  font-family: Muli;
  font-size: 14px;
  margin-left: 30px;
}
